p,h3{
    color:darkred;
    font-size:30px;
}
/* 合并选择器：可以同时选择多个标签 */
.class1,.class2{
    color:pink;
    font-size:20px;
}

/* 颜色选择方式： */
/* 1. 颜色单词 */
/* 2. 十六进制颜色值 */
/* 3. RGB颜色值 */
/* 4. RGBA颜色值 */
/* 5. HSL颜色值 */
/* 6. HSLA颜色值 */

.class3{
    color: red;
    color: #00ff00;
    color:rgb(0,255,255);
    color: rgba(255, 0, 0, 0.5); 
    /* alpha通道：0-1之间的数字，0表示完全透明，1表示完全不透明 */
    color: hsl(120, 100%, 50%);
    /* hsl颜色值：hue（色相）、saturation（饱和度）、lightness（亮度） */
    /* 色相：0-360之间的数字，0表示红色，120表示绿色，240表示蓝色 */
    /* 饱和度：0-100%之间的数字，0表示灰色，100%表示满色 */
    /* 亮度：0-100%之间的数字，0表示黑色，100%表示白色 */
    color: hsla(120, 100%, 50%, 0.5);
    /* alpha通道：0-1之间的数字，0表示完全透明，1表示完全不透明 */




    font-size: 20px;
    /* 最小字体大小：12px */
    /* 最大字体大小：100px */
    /* 字体大小单位：px、em、rem */
    /* px：像素单位，1px等于1个点，是绝对单位 */
    /* em：相对单位，1em等于当前元素的字体大小，例如，当前元素的字体大小为16px，那么1em就等于16px */
    /* rem：相对单位，1rem等于根元素的字体大小，例如，根元素的字体大小为16px，那么1rem就等于16px */

    font-weight: 700;
    /* 字体粗细：100-900之间的数字，100表示最细，900表示最粗，400表示正常 */

    /* 字体粗细单位：数字、关键词 */
    /* 数字：100-900之间的数字，100表示最细，900表示最粗 */
    /* 关键词：normal（正常）、bold（加粗）、bolder（更粗）、lighter（更细） */

    font-style: italic;
    /* 字体样式：italic（斜体）、oblique（倾斜） */

    font-family: '微软雅黑';

    /* 字体名称：可以是系统字体，也可以是自定义字体 */
    /* 系统字体：宋体、微软雅黑、黑体、楷体等 */
    /* 自定义字体：需要在HTML文档中引入字体文件 */

}
